<html>
    <body>
        <svg width="300" height="300">
            <!--Recuerda que el x del primer cuadro vale 100 y y vale 200 -->
            <rect x="100" y="200" rx="3" ry="3" width="25" height="22" stroke="none" fill="black"></rect>
            <rect x="102" y="202" rx="2" ry="2" width="20" height="7" stroke="none" fill="white"></rect>
            <circle cx="120" cy="210" r="1" fill="black"></circle>
            <circle cx="105" cy="217" r="2" fill="white"></circle>
            <circle cx="120" cy="217" r="2" fill="white"></circle>
            <rect x="109" y="216" rx="1" ry="1" width="7" height="1" stroke="none" fill="white"></rect>
            <rect x="107" y="218" rx="1" ry="1" width="10" height="1" stroke="none" fill="white"></rect>
            <rect x="102" y="220" rx="2" ry="2" width="3" height="5" stroke="none" fill="black"></rect>
            <rect x="119" y="220" rx="2" ry="2" width="3" height="5" stroke="none" fill="black"></rect>
        </svg>
    </body>
</html>
